<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>


		<!-- H2 DB -->
		<property name="connection.driver_class">org.h2.Driver</property>
		<property name="connection.url">jdbc:h2:jp-core-hibernate/db/javapathshala</property>
		<property name="dialect">org.hibernate.dialect.H2Dialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="new_generator_mappings">true</property>


		<!-- MySQL -->
		<!-- <property name="connection.driver_class">com.mysql.jdbc.Driver</property> <property name="connection.url">jdbc:mysql://mcdevportal.vertexna.net/contactdb</property> 
			<property name="connection.username">contactdba</property> <property name="connection.password">VQCsCUiTL-Hh</property> 
			<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property> -->


		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->

		<!-- Enabling Second-Level Cache -->
		<property name="cache.use_second_level_cache">true</property>
		
		<!-- Cache Provider for Second-Level cache -->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

		<!-- Enable Query Cache -->
		<property name="cache.use_query_cache">true</property>
		
		<!-- Formatting -->
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>


		<mapping resource="Employee.hbm.xml" />
		<mapping resource="UserDetails.hbm.xml" />
		<mapping class="com.jp.core.hibernate.namedQueries.NameQueryTable"/>
		<mapping resource="UserInfo.hbm.xml"/>


	</session-factory>


</hibernate-configuration>